:root {
  /* COLOR */
  --brand-black-white-black: rgb(0, 0, 0);
  --brand-black-white-white: rgb(255, 255, 255);
  --brand-green-green-100: rgb(219, 244, 217);
  --brand-green-green-500: rgb(77, 201, 66);
  --brand-green-green-550: rgb(69, 181, 59);
  --brand-green-green-600: rgb(62, 161, 53);
  --brand-green-green-700: rgb(46, 121, 40);
  --brand-purple-purple-100: rgb(231, 220, 255);
  --brand-purple-purple-500: rgb(136, 80, 255);
  --brand-purple-purple-550: rgb(122, 72, 230);
  --brand-purple-purple-600: rgb(109, 64, 204);
  --brand-purple-purple-700: rgb(82, 48, 153);
  --cc-ensjt-500: rgb(1, 164, 154);
  --grey-main-usage-grey-025: rgb(246, 246, 249);
  --grey-main-usage-grey-100: rgb(224, 224, 230);
  --grey-main-usage-grey-200: rgb(194, 194, 205);
  --grey-main-usage-grey-400: rgb(132, 132, 155);
  --grey-main-usage-grey-500: rgb(104, 104, 127);
  --grey-main-usage-grey-700: rgb(62, 62, 76);
  --grey-main-usage-grey-950: rgb(10, 10, 13);
  --grey-other-grey-050: rgb(237, 237, 242);
  --grey-other-grey-300: rgb(163, 163, 179);
  --grey-other-grey-600: rgb(83, 83, 102);
  --grey-other-grey-800: rgb(42, 42, 51);
  --grey-other-grey-900: rgb(21, 21, 25);
  --secondary-color-cyan-100: rgb(204, 245, 248);
  --secondary-color-cyan-500: rgb(0, 205, 221);
  --secondary-color-magenta-100: rgb(255, 204, 223);
  --secondary-color-magenta-500: rgb(255, 0, 95);
  --secondary-color-pink-100: rgb(252, 229, 253);
  --secondary-color-pink-500: rgb(238, 127, 245);
  --secondary-color-yellow-100: rgb(255, 254, 204);
  --secondary-color-yellow-500: rgb(255, 248, 0);
  --support-error-error-100: rgb(255, 233, 233);
  --support-error-error-500: rgb(255, 36, 36);
  --support-error-error-550: rgb(230, 32, 32);
  --support-error-error-600: rgb(204, 29, 29);
  --support-error-error-700: rgb(153, 22, 22);
  --support-success-success-100: rgb(234, 249, 233);
  --support-success-success-500: rgb(77, 201, 66);
  --support-success-success-550: rgb(69, 181, 59);
  --support-success-success-600: rgb(62, 161, 53);
  --support-success-success-700: rgb(46, 121, 40);
  --support-warning-warning-100: rgb(254, 242, 219);
  --support-warning-warning-500: rgb(249, 180, 45);
  --support-warning-warning-550: rgb(224, 162, 41);
  --support-warning-warning-600: rgb(199, 144, 36);
  --support-warning-warning-700: rgb(149, 108, 27);
}
